@use '../../lib/service.scss' as s;

// @use '../../component/heading/style.scss' as heading;
// @use '../../component/purchase-product/style.scss' as
//   purchaseProduct;
// @use '../../component/field/style.scss' as field;

.product-info__divider {
  width: 100%;
  height: 1px;
  background: s.color(border);
}
