<main class="main">

  <div class="spotify-lib__content">
    <div class="spotify-lib__title">

      <h1 class="lib-title">Моя бібліотека</h1>

      <div class="spotify-lib__icon">
        <a href="/spotify-search" class="icon">
          <img src="/svg/spotify-search.svg">
        </a>
        <a href="/spotify-choose" class="icon">
          <img src="/svg/add_playlist.svg">
        </a>

      </div>

    </div>
    <div class="spotify-lib__list">

      {{>spotify-card}}

    </div>
  </div>

</main>